<div class="row">
  <div class="col-xs-2">
    <div ng-include src="'/static/sidebar.html'"></div>
  </div>
  <div class="col-xs-8">

<div class="container">
  <div class="row">
   <div class="col-md-4 col-md-offset-4">
   <div class="well span6">	   
      <form name="form" class="form-horizontal" role="form" novalidate>

	<div class="form-group">
            <input type="password" class="form-control" placeholder="Old password" ng-model="$root.user.old_password" name="old_password" required autofocus/><br />
        </div>

	<div class="form-group">
            <input type="password" class="form-control" placeholder="New password" ng-model="$root.user.new_password" name="new_password" required autofocus/><br />
        </div>

	<div class="form-group">
            <input type="password" class="form-control" placeholder="Confirm new password" ng-model="$root.user.confirm_new_password" name="confirm_new_password" required autofocus/><br />
        </div>

	    <div class="form-group">
                <button class="btn btn-primary" ng-click="trySaving({old_password: $root.user.old_password, new_password: $root.user.new_password, confirm_new_password: $root.user.confirm_new_password})" ng-disabled="form.$invalid">Update password</button>
            </div>


    	</div>	


      <p>{{error.error}}</p>
    </form>
  </div>
  </div>
 </div>
</div>
</div>
</div>
