<div class="container">
  <div class="row">
   <div class="col-md-4 col-md-offset-4">
   <div class="well span6">	   
      <form name="form" class="form-horizontal" role="form" novalidate>
	<div class="form-group" ng-if='!editing'>
	    <input type="text" class="form-control" placeholder="username" ng-model="$parent.user.username" name="username" required autofocus/><br />
        </div> 
	<div class="form-group" ng-if='!editing'>	
	    <input type="password" class="form-control" placeholder="password" ng-model="$parent.user.password" name="password" required/><br />
        </div>
	<div class="form-group" ng-if="!register && !editing">
            <button class="btn btn-primary" ng-click="tryLogin(user)" ng-disabled="form.$invalid">Login!</button>
	    <div ng-if="!register"> Or if you're new... <br>
	      <button class="btn pull-right" ng-click="switchToRegister()">Sign up!</button>
	    </div>
        </div>

	<div ng-if="register || editing">

	   <div class="form-group" ng-if="!editing" ng-class="{'has-error': form.confirm_password.$dirty && form.confirm_password.$error.match && !form.confrim_password.$error.required}">
              <input type="password" class="form-control" match="password" placeholder="confirm password" ng-model="$parent.$parent.user.confirm_password" name="confirm_password" required/><br />
	      <span ng-show="form.confirm_password.$dirty && form.confirm_password.$error.match && !form.confrim_password.$error.required" class="help-block">Passwords don't match</span>
	   </div>

	   <div class="form-group" ng-class="{'has-error': form.zip_code.$dirty && form.zip_code.$error.pattern}">
	      <input type="text" class="form-control" placeholder="zip code" ng-model="$parent.user.zip_code" name="zip_code" ng-pattern="zipCodePattern" required/><br />
	      <span ng-show="form.zip_code.$dirty && form.zip_code.$error.pattern" class="help-block">Invalid zip code!</span>
           </div>
	   <div class="form-group" ng-class="{'has-error': form.email.$dirty && form.email.$error.email}"> 
	      <input type="email" class="form-control" placeholder="email" ng-model="$parent.user.email" name="email" required/><br />
              <span ng-show="form.email.$dirty && form.email.$error.email" class="help-block">Invalid email!</span>
           </div>

	   <div class="form-group" ng-class="{'has-error': form.phone_number.$dirty && form.phone_number.$error.pattern}">  
	      <input type="text" class="form-control" placeholder="phone number" ng-model="$parent.user.phone_number" ng-pattern="phoneNumberPattern" name="phone_number" required/><br />
	      <span ng-show="form.phone_number.$dirty && form.phone_number.$error.pattern" class="help-block">Invalid phone number!</span>

	   </div>

	    <div class="form-group" ng-class="{'has-error': false}">
	      <input type="text" class="form-control" placeholder="default tool puckup arrangements" ng-model="$parent.user.default_pickup_arrangements" name="default_pickup_arrangements" required/><br />
	    </div>

	    <div class="form-group" ng-if="!editing">
		<button class="btn btn-primary" ng-click="tryRegister($parent.$parent.user)" ng-disabled="form.$invalid">Register!</button>
		Or if you're already a member... <br>
		<button class="btn pull-right" ng-click="backToLogin()">Back to login!</button>
	    </div>


	    <div class="form-group" ng-if="editing">
                <button class="btn btn-primary" ng-click="trySaving($parent.$parent.user)" ng-disabled="form.$invalid">Save!</button>
            </div>


    	</div>	


      <p>{{error.error}}</p>
    </form>
  </div>
  </div>
 </div>
</div>
