    <table class="table table-hover">
        <thead>
                <th>Tool Name</th>
                <th>Tool Type</th>
                <th>Tool Description</th>
                <th>Tool pickup arrangements</th>
                <th>Shed</th>
                <th>Availability</th>
		<th>Edit</th>
		<th>Delete</th>
        </thead>
        <tbody>
                <tr ng-repeat="tool in myTools | filter:searchText">
                        <td>{{tool.name}}</td>
                        <td>{{tool.tool_type}}</td>
                        <td>{{tool.description}}</td>
                        <td>{{tool.tool_pickup_arrangements}}</td>
                        <td ng-switch on=tool.in_community_shed>
                                <div ng-switch-when="true">Community shed</div>
                                <div ng-switch-when="false">{{tool.owner}}'s shed</div>
                        </td>
                        <td ng-switch on=tool.tool_available>
                                <div ng-switch-when="true">It's available</div>
                                <div ng-switch-when="false">Not available for borrow</div>
                        </td>
			<td>
				<p ng-show="tool.available_date > now">Disabled until available</p>
				<button ng-show="tool.available_date < now" class="btn btn-primary" ng-click="editTool(tool)">Edit</button>
			</td>
			<td>
				<p ng-show="tool.available_date > now">Disabled until available</p>
				<button ng-show="tool.available_date < now" class="btn btn-danger" ng-click="deleteTool(tool)">Delete</button>
			</td>
                </tr>
        </tbody>
     </table>
     <button class="btn btn-primary" ng-click="newTool()">Add Tool!</button>
