<div class="container">
  <div class="row">
   <div class="col-md-6">
   <div class="well span8">

      <form name="form" class="form-horizontal" role="form" novalidate>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="name" ng-model="tool.name" name="name" required autofocus/><br />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="description" ng-model="tool.description" name="description" required/><br />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="tool_type" ng-model="tool.tool_type" name="tool_type" required/><br />
        </div>
        <div class="form-group">
            <input type="checkbox" ng-checked="tool.in_community_shed" ng-model="tool.in_community_shed" name="in_community_shed"/>&nbsp Will this tool be in the community shed?<br />
        </div>
	<div class="form-group">
            <input type="checkbox" ng-checked="tool.tool_available" ng-model="tool.tool_available" name="tool_available"/>&nbsp Available for borrow?<br />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Tool Pickup Arrangements" ng-model="tool.tool_pickup_arrangements" name="too_pickup_arrangements" required/><br />
        </div>

        <div class="form-group">
            <button class="btn btn-primary" ng-click="ok(tool)" ng-disabled="form.$invalid">Edit</button>
	    <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
        </div>
      </form>

  </div>
  </div>
  </div>
</div>

