<table class="table table-hover">
        <thead>
                <th>Tool Name</th>
                <th>Tool Type</th>
                <th>Tool Description</th>
                <th>Tool Owner</th>
                <th>Tool pickup arrangements</th>
                <th>Shed</th>
                <th>Status</th>
		<th>Due date</th>
		<th>Message</th>                                   
        </thead>                                                        
        <tbody>                                                         
                <tr ng-repeat="borrowingTransaction in borrowingTransactions | filter:searchText">      
                        <td>{{borrowingTransaction.tool.name}}</td>
                        <td>{{borrowingTransaction.tool.tool_type}}</td>
			<td>{{borrowingTransaction.tool.description}}</td>
                        <td>{{borrowingTransaction.tool.owner}}</td>
			<td ng-switch on=borrowingTransaction.tool.in_community_shed>
                                <div ng-switch-when="true">Come to the community shed and get it</div>
                                <div ng-switch-when="false">{{borrowingTransaction.tool.tool_pickup_arrangements}}</div>
                        </td>
                        <td ng-switch on=borrowingTransaction.tool.in_community_shed>           
                                <div ng-switch-when="true">Community shed</div>
                                <div ng-switch-when="false">{{borrowingTransaction.tool.owner}}'s shed</div>
                        </td>
                        <td ng-switch on=borrowingTransaction.status>
                                <div ng-switch-when="borrow request pending">Awaiting approval</div>
				<div ng-switch-when="borrowing">
                                        <button type="button" class="btn btn-primary" ng-click="requestReturn(borrowingTransaction)">Return</button>
				</div>
                                <div ng-switch-when="borrow return pending">Awaiting return confirmation</td>
                        </td>
			<td>{{borrowingTransaction.due_date | date:'short'}}</td>
			<td ng-switch on="borrowingTransaction.owner_message">
				<div ng-switch-when="">Owner hasn't seen it yet</div>
				<div ng-switch-default>{{borrowingTransaction.tool.owner}}: "{{borrowingTransaction.owner_message}}"</div>
			</td>
                </tr>                                                   
        </tbody>
     </table>

