<ul class="nav nav-pills nav-stacked">
   <li ng-class="$root.active.home"><a href="#home">Browse local tools</a></li>
   <li ng-class="$root.active.tools"><a href="#tools">Manage tools</a></li>
   <li ng-class="$root.active.profile"><a href="#profile">Edit profile</a></li>
   <li ng-class="$root.active.community"><a href="#community">Community statistics</a></li>
   <li><a href="#logout">Logout!</a></li>
</ul>

<div>
  <table class="table table-bordered">
   <tr ng-if="$root.transactionRequests.length != 0">
    <td>
      Borrow requests:
      <ul ng-repeat="transactionRequest in $root.transactionRequests">
         <li>{{transactionRequest.borrower}} would like to borrow {{transactionRequest.tool.name}}. "{{transactionRequest.borrower_message}}"
            <input type="text" class="form-control" placeholder="Reply Message" ng-model="transactionRequest.owner_message" name="owner_message" autofocus/><br />
            <div class="btn-group inline">	
		<button class="btn btn-primary" ng-click="resolveTransaction(true, transactionRequest)">Agree</button>
            	<button class="btn btn-primary" ng-click="$root.resolveTransaction(false, transactionRequest)">Reject</button>
	    </div>
         </li>
      </ul>
    </td>
   </tr>
   <tr ng-if="$root.endTransactionRequests.length != 0">
    <td>
      Tool return requests:
      <ul ng-repeat="endTransactionRequest in $root.endTransactionRequests">        
         <li>{{endTransactionRequest.borrower}} would like to return {{endTransactionRequest.tool.name}}.
            <button class="btn btn-primary" ng-click="$root.resolveEndTransaction(endTransactionRequest)">Approve</button>
         </li>
     </td>
   </tr>
   <tr ng-if="$root.endTransactionRequests.length != 0">
    <td>
      Community return requests:
      <ul ng-repeat="endTransactionRequest in $root.endCommunityTransactionRequests">
         <li>{{endTransactionRequest.borrower}} would like to return {{endTransactionRequest.tool.name}} to the community shed.
            <button class="btn btn-primary" ng-click="$root.resolveEndTransaction(endTransactionRequest)">Approve</button>
         </li>
     </td>
   </tr>
   <tr ng-if="$root.messages.length != 0">
    <td>
      Messages:
    </td>
   </tr>
  </table>
</div>
