<!DOCTYPE html>
<html>

<head>
	<title>Browse Tools!</title>
</head>

<p><a href="/logout">Logout!</a></p>

<h1>Tools in {{ user_ac }}!</h1>

<body>

<table border="1" cellspacing="1" cellpadding="5">
	<tr>
		<td>Tool Name</td>
		<td>Tool Owner</td>
		<td>Availability</td>
		<td>Shed</td>
	</tr>

	{% for tool in tool_list %}
	<tr>
		<td>{{tool.name}}</td>
		<td>{{tool.owner}}</td>
		<td>{{tool.is_available}}</td>
		<td>{{tool.shed}}</td>
	</tr>
	{% endfor %}
</table>
<p><a href="/user">Return to home</a></p>

</body>
</html>
