<!DOCTYPE html>
<html> 
<head>
<title>Tool Editor</title> 
</head>
<body> 


<table border="1" cellspacing="1" cellpadding="5">
  <tr>
    <td>Tool Name</td>
    <td>Description</td>
    <td>Tool Type</td>
    <td>Edit Tool</td>
  </tr>



{% for tool in Tools %} 
  <tr>
     <td>{{tool.name}}</td>
     <td>{{tool.description}}</td>
     <td>{{tool.tool_type}}</td>
     <td>
       <FORM ACTION="post">
         <INPUT TYPE="submit" VALUE="Edit!" NAME="{{tool.id}}">
       </FORM>
     </td>

{% endfor %}

</table>



</body> 
</html>